{% extends 'subscribe/base_event.html' %}
{% block content %}
<form method="POST" action="/inschrijven/{{event.slug}}/">{% csrf_token %}
{% if form.preview %}
{% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
{% for field in form.visible_fields %}{{ field.as_hidden }}{% endfor %}
{% else %}
<div class="formpart">
<div class="title">Inschrijven voor {{event.name}}</div>
{{ form.media }}{# form.as_p #}
{{ form.non_field_errors }}
{% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

{% for element_type, element_value in form.elements %}
{% if element_type == "text" %}
<div class='text'>{{ element_value }}</div>
{% elif element_type == "field" %}
  {% with field=element_value %}
  {% if field.field.is_checkbox %}
<div class='checkbox'>{{ field }}{% if field.field.required %}<label for="{{ field.id_for_label }}">{{ field.label }} <span class="required">*</span></label>{% else %}{{ field.label_tag }}{% endif %}{% for error in field.errors %}<div class='error'>{{ error }}</div>{% endfor %}</div>
  {% else %}
<div class='question'>{% if field.field.required %}<label for="{{ field.id_for_label }}">{{ field.label }} <span class='required'>*</span></label>{% else %}{{ field.label_tag }}{% endif %}{{ field }}{% for error in field.errors %}<div class='error'>{{ error }}</div>{% endfor %}</div>
  {% endif %}
  {% endwith %}
{% endif %}
{% endfor %}
{% if not form.preview %}
<div class='submit'><input class="button" type="submit" value="Doorgaan!" onclick="this.disabled=true,this.form.submit()" /></div>
{% endif %}
</div>
{% endif %}

{% if form.preview %}
<div class="kosten formpart"><h3>Kosten</h3>
{% if form.price %}
{{form.price_description|safe}}
<div class='question'>{{ form.issuer_field.label_tag}}{{ form.issuer_field }}{% for error in form.issuer_field.errors %}<div class='error'>{{ error }}</div>{% endfor %}</div>
<div style="margin-top:1em;">Direct na het inschrijven kom je terecht bij iDEAL. Doorloop het betalingsproces volledig en sluit de browser niet voortijdig af, anders wordt je betaling mogelijk niet goed verwerkt. <br />
Neem bij problemen contact op met het <a href="mailto:ict@jongedemocraten.nl?subject=iDEAL%20betaalfout">ICT-team</a>.</div>
{% else %}
<p>Het is gratis!</p>
{% endif %}
<input type='hidden' id='registration_preview' name='registration_preview' value='1'>
<div class='submit'><input class="button" type="submit" value="Inschrijven!" onclick="this.disabled=true,this.form.submit()" /></div>
{% if user_is_staff %}
<div class='submit'><input class="button" type="submit" name="testsubmit" value="Test-email versturen!" /></div>
{% endif %}
</div>
{% endif %}

<div class="formpart">{{event.description|safe}}</div>
</form>
{% endblock %}
