{% extends 'subscribe/base.html' %}
{% block title %}JD Evenementen{% endblock %}
{% block content %}
{% if user.is_staff %}
<div class='formpart'><p><a href="admin/">Admin pagina </a></p></div>
{% endif %}
<div class='formpart'>
  <div class='title'>Evenementen</div>
  {% if events %}
  <ul style="margin-top: 1em;">
  {% for event in events %}
    <li><a href="inschrijven/{{ event.slug }}">{{ event.name }}</a> (deadline: {{ event.end_registration }})</li> 
  {% endfor %}
  </ul>
  {% else %}
    Er zijn op dit moment geen evenementen om je voor in te schrijven.
  {% endif %}
</div>
{% endblock %}
