body, p, li { font: normal 14px/16px Arial, Helvetica, sans-serif; }

* { margin: 0; padding: 0; }
#container { width: 870px; margin: 20px auto; }

body { background: #eee; }
.formpart { background: #fff; }

.formpart { margin: 2em 0; padding: 1.5em 2em; }
.formpart { border: 1px solid #ddd; box-shadow: 0px 0px 1px 0px #578439; }
.formpart h3, .formpart .title { margin: 0 0 1em 0; }
.formpart h3, .formpart .title { font-weight: bold; font-size: 16px; letter-spacing: 1px; color: #578439; }
.text, .question, .checkbox, .submit { display: block; margin: 1em 0 0 0; }
.question label { display: block; margin-bottom: .1em; }

label { font-weight: bold; font-size: 90%; }
label:hover { text-decoration: underline; }
.formpart div:hover { background-color: #f4f4f4; }

input[type="submit"] {
  background: #578439 url('https://jongedemocraten.nl/templates/jd/images/TitleBackground.png'); background-repeat: repeat-x;
  border-radius: 2px; border: 1px solid #353;
  display: inline-block;
  text-shadow: 1px 1px 0px #000;
  font-size: 13px; font-weight: bold;
  height: 1.8em; width: auto;
  padding: .2em 20px;
  color: white;
  cursor: pointer;
}

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

input, select { vertical-align:middle; display: inline-block;}
input { width: 14em; }
input[type="checkbox"] { margin-right: 1em; width: auto; }
textarea { width: 30em; }
.error { display: inline-block; border-radius: 3px; background: #d22; color: #fff; margin-left: 1em; padding: 2px 4px; line-height: 1.2em; }

ol { list-style-position: outside; margin-left: 1.5em; list-style-type: lower-alpha; }
ul { list-style-position: outside; margin-left: 1.5em; }

.kosten tr th:first-child, .kosten tr td:first-child { min-width: 360px; text-align: left; }
