<!DOCTYPE html>
<html>

<head>
  <title>JD Evenementen</title>
  <link rel="stylesheet" type="text/css" href="https://jongedemocraten.nl/templates/jd/css/template.css">

  <style>
    .container { width: 605px; margin: 30px auto; }
    th, td { padding-left: 10px; padding-right: 10px; }
  </style>

</head>

<body>

<div class="container">
  <div>
    <a href="/"><img src="http://jongedemocraten.nl/templates/jd/images/Logo.png" border="0" /></a>
  </div>
  <div>
    <h2>Evenementen</h2>
  </div>

  <div>
    {% if events %}
      {% for event in events %}
        <h2><a href="inschrijven/{{ event.slug }}">{{ event.name }}</a></h2> 
      {% endfor %}
    {% else %}
      Er zijn op dit moment geen evenementen om je voor in te schrijven.
    {% endif %}
  </div>
  <hr> 
  <div>
    <h3> <a href="admin/">Admin </a> </h3>
  </div>
</div>
 
</body>

</html> 